<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Test configuration -->
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <TargetFrameworkVersion>net9.0</TargetFrameworkVersion>
    <TestSessionTimeout>600000</TestSessionTimeout>
  </RunConfiguration>

  <!-- xUnit configuration -->
  <xUnit>
    <DiagnosticMessages>true</DiagnosticMessages>
    <InternalDiagnosticMessages>false</InternalDiagnosticMessages>
    <ParallelizeTestCollections>true</ParallelizeTestCollections>
    <MaxParallelThreads>0</MaxParallelThreads>
    <ShadowCopy>false</ShadowCopy>
  </xUnit>

  <!-- Code coverage configuration -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <Exclude>[*]*.Migrations.*,[*]*.Tests.*</Exclude>
          <ExcludeByFile>**/Migrations/*.cs,**/*.Designer.cs</ExcludeByFile>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>

  <!-- Logger configuration -->
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>normal</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFileName>test-results.trx</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
